.site-nav-toggle, .site-nav-right {
  display: none;

  +mobile() {
    flex-column();
  }

  .toggle {
    color: var(--text-color);
    padding: 10px;
    width: 22px;

    .toggle-line {
      background: var(--text-color);
      border-radius: 1px;
    }
  }
}

.site-nav {
  border: 1px solid #3d444d;
  backdrop-filter: blur(15px);
  +mobile() {
    site-nav-hide-by-default();
  }
}
