.category-all-page {
  .category-all-title {
    text-align: center;
  }

  .category-all {
    margin-top: 20px;
  }

  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .category-list-item {
    margin: 5px 10px;
  }

  .category-list-count {
    font-size: $font-size-smallest;
    badge();
    if (hexo-config('darkmode')) {
      @media (prefers-color-scheme: dark) {
        background: #f0f6fcd4;
        color: rgba(0,0,0,0.8);
      }
    }
  }

  .category-list-child {
    padding-left: 10px;
  }
}
